name: Deploy 
on: 
  push:
    branches: 
       - feature
    paths-ignore: 
       - .github/**

jobs: 
  Test:
    runs-on: ubuntu-latest
    steps: 
      - name: get code from the repo
        uses: actions/checkout@v4
      - name: Install the Nodejs
        uses: actions/setup-node@v6
        with: 
          node-version: 20
      - name: Print the version 
        run: node -v 
      - name: cache Dependencies 
        uses: actions/cache@v4
        with: 
         path: ~/.npm
         key: ${{runner.os}}-node-${{hashFiles('**/package-lock.json') }}
      - name: Install the node.js Dependencies
        run: npm ci
      - name: run test cases 
        run: npm run test

  Build:
   needs: Test
   runs-on: ubuntu-latest
   steps: 
      - name: get code from the repo
        uses: actions/checkout@v4
      - name: Install the Nodejs
        uses: actions/setup-node@v6
        with: 
          node-version: 20
      - name: Print the version 
        run: node -v 
      - name: cache Dependencies 
        uses: actions/cache@v4
        with: 
         path: ~/.npm
         key: ${{runner.os}}-node-${{hashFiles('**/package-lock.json') }}
      - name: Install the node.js Dependencies
        run: npm ci
      - name: Run the Test Cases
        run: npm run test
      - name: build the application 
        run: npm run build 
      - name: upload the Dist artifact
        uses: actions/upload-artifact@v4
        with: 
          name: dist-files
          path: dist
    
              

  Deploy:
    needs: Build
    runs-on: ubuntu-latest
    steps: 
      - name: Download Dist Artifact
        uses: actions/download-artifact@v5
        with: 
          name: dist-files
          path: dist
      - name: Deploy Test
        run: echo "Deploy Successfull"

