name: deploy

on: 
 push:
    branches:
        - main
    paths-ignore:
        - '**/README.md'
        - .github/workflows/**

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
          - name: get code
            uses: actions/checkout@v4

          - name: Install Node.js
            uses: actions/setup-node@v4
            with:
                node-version: '20'
          - name: Install Dependencies
            run: npm ci
          - name: run tests
            run: npm run test

      deploy:
        needs: test
        runs-on: ubuntu-latest
        steps: 
          - name: Get the code
            uses: actions/checkout@v4
          - name: Install the node
            uses: action/setup-node@v6
            with: 
              node-verision: 20
          - name: cache Dependencies 
            uses: actions/cache@v4
            with: 
              path: ~/.npm
              key: ${{runner.os}}-node-${{hashFiles('**/package-lock.json') }}  
          - name: Install Dependencies 
            run: npm ci 
          - name: run tests
            run: npm run test
          - name: deploy to production
            run: echo "deploying to production server"